<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.home.spring.board.notice.NoticeDAO">
	
	<sql id="condition">
		<trim prefix="WHERE">
			<if test="kind == 'contents'">
				CONTENTS LIKE '%' || #{search} || '%'
			</if>
			
			<if test="kind == 'writer'">
				WRITER LIKE '%' || #{search} || '%'
			</if>
			
			<if test="kind == 'title'">
				TITLE LIKE '%' || #{search} || '%'
			</if>
		</trim>
	</sql>
	
	<select id="getTotalCount" resultType="Long">
		SELECT COUNT(NUM) FROM NOTICE
		<include refid="condition"></include>
	</select>
	
	<select id="getBoardList" parameterType="Pagination" resultType="NoticeDTO">
		SELECT * FROM 
		(
			SELECT ROWNUM R, N.* FROM
			(
				SELECT NUM, TITLE, WRITER, REGDATE, HIT FROM NOTICE
				<include refid="condition"></include>
				ORDER BY NUM DESC
			) N
		)WHERE R BETWEEN #{startRow} AND #{endRow}
	</select>
	
	<select id="getBoardDetail" parameterType="boardDTO" resultMap="getBoardDetailResult">
		SELECT * 
		FROM NOTICE N
			LEFT JOIN NOTICEFILES NF
			ON(NF.NUM = N.NUM)
		WHERE N.NUM = #{num}
	</select>
	
	<resultMap type="NoticeDTO" id="getBoardDetailResult">
		<id column="NUM" property="num"/>
		<result column="TITLE" property="title"/>
		<result column="WRITER" property="writer"/>
		<result column="CONTENTS" property="contents"/>
		<result column="REGDATE" property="regDate"/>
		<result column="HIT" property="hit"/>
		<!-- oftype = generictype 사용 -->
		<collection property="boardFileDTOs" javaType="List" ofType="BoardFileDTO">
			<id column="FILENUM" property="fileNum"/>
			<result column="FILENAME" property="fileName"/>
			<result column="ORINAME" property="oriName"/>
		</collection>
	</resultMap>
	
	<insert id="setBoardAdd" parameterType="bbsDTO">
		<selectKey keyProperty="num" resultType="Long" order="BEFORE">
			SELECT QNA_SEQ.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO NOTICE (NUM, TITLE, CONTENTS, WRITER, REGDATE, HIT) 
		VALUES (#{num}, #{title}, #{contents}, #{writer}, sysdate, 0)
	</insert>
	
	<insert id="setBoardFileAdd" parameterType="BoardFileDTO">
		INSERT INTO NOTICEFILES
		VALUES (NOTICE_SEQ.NEXTVAL, #{num}, #{fileName}, #{oriName})
	</insert>
	
	
</mapper>