<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace = "com.home.spring.product.ProductDAO">
	<sql id="search">
		WHERE
		<choose>
			<when test="kind == 'detail'">
				PRODUCTDETAIL
			</when>
			<otherwise>
				PRODUCTNAME
			</otherwise>
		</choose>
		LIKE '%' || #{search} || '%'
	</sql>
	<select id="getProductCount" parameterType="Pagination" resultType="Long">
		SELECT COUNT(PRODUCTNUM) FROM PRODUCT
		<include refid="search"></include>
	</select>
	
	
	<select id = "getProduct" parameterType="Pagination" resultType = "ProductDTO">
		SELECT * FROM
		(
			SELECT ROWNUM R, P.* FROM
				(
					SELECT PRODUCTNUM, PRODUCTNAME, PRODUCTJUMSU 
					FROM PRODUCT
					<include refid="search"></include>
					ORDER BY PRODUCTNUM DESC
				) P
		) WHERE R BETWEEN #{startRow} AND #{endRow}
	</select>
	
	<select id = "getProductDetail" parameterType = "ProductDTO" resultType = "ProductDTO">
		SELECT * FROM PRODUCT 
		WHERE PRODUCTNUM = #{productNum}
	</select>
	
	<insert id="setProductAdd" parameterType = "ProductDTO">
		INSERT INTO PRODUCT (PRODUCTNUM, PRODUCTDETAIL, PRODUCTJUMSU, PRODUCTNAME)
		VALUES (#{productNum}, #{productDetail}, 0.0, #{productName})
	</insert>
	
	<delete id="setProductDelete" parameterType = "Integer">
		DELETE PRODUCT 
		WHERE PRODUCTNUM = #{productNum}
	</delete>
	
	<select id="getProductNum" resultType = "Long">
		SELECT PRODUCT_SEQ.NEXTVAL FROM DUAL
	</select>
	
 </mapper>